.textCenter {
  text-align: center;
}

.textRight {
  text-align: right;
}

.textLeft {
  text-align: left;
}

.italic {
  font-style: italic;
}

.textUnderline {
  text-decoration-line: underline;
}

.textUppercase {
  text-transform: uppercase;
}

.textLowercase {
  text-transform: lowercase;
}
